<style>
    .gaya{
        margin-top: 60px;
    }
</style>
 
<h4><% include navbar.ejs %></h4> 
<form id= "update" method="POST" action="/update-product/<%=id%>">
    <table class="gaya">
        <tr>
            <td>
                <input type="text" required name="products" placeholder="<%= product[0].product %>"> 
            </td>
        </tr>
        <tr>
            <td>
                <textarea required name="descriptions"><%= product[0].description %> </textarea> 
            </td>
        </tr>
        <tr>
            <td>
                <input required type="number" name="prices" placeholder="<%= product[0].price %>">
            </td>    
        </tr>
    </table>
  <br><p><button type="submit" class="btn btn-success" value="save" >UPDATE</button>
</form>     